In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [57]:
batters= pd.read_csv('data/mlb-player-stats-Batters.csv')
pitchers= pd.read_csv('data/mlb-player-stats-P.csv')
Arizona_ps=pitchers[(pitchers['Team'] == "ARI")]
(Arizona_ps.loc[Arizona_ps['Player'] == 'Ryne Nelson'])

,Player,Team,Age,G,GS,CG,SHO,IP,H,ER,K,BB,HR,W,L,SV,BS,HLD,ERA,WHIP
59,Ryne Nelson,ARI,26,29,27,0,0,144.0,159,85,96,46,24,8,8,0,0,0,5.31,1.42