In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
batters= pd.read_csv('data/mlb-player-stats-Batters.csv')
pitchers= pd.read_csv('data/mlb-player-stats-P.csv')
Arizona_ps=pitchers[(pitchers['Team'] == "SEA")]
Arizona_ps

,Player,Team,Age,G,GS,CG,SHO,IP,H,ER,K,BB,HR,W,L,SV,BS,HLD,ERA,WHIP
6,Luis Castillo,SEA,31,33,33,0,0,197.0,160,73,219,56,28,14,9,0,0,0,3.34,1.10
13,Logan Gilbert,SEA,26,32,32,1,1,190.2,169,79,189,36,29,13,7,0,0,0,3.73,1.08
14,George Kirby,SEA,26,31,31,1,0,190.2,179,71,172,19,22,13,10,0,0,0,3.35,1.04
77,Bryce Miller,SEA,25,25,25,0,0,131.1,124,63,119,26,18,8,7,0,0,0,4.32,1.14
144,Bryan Woo,SEA,24,18,18,0,0,87.2,75,41,93,31,13,4,5,0,0,0,4.21,1.21
188,Matt Brash,SEA,25,78,0,0,0,70.2,65,24,107,29,3,9,4,4,5,25,3.06,1.33
197,Justin Topa,SEA,33,75,0,0,0,69.0,61,20,61,18,4,5,4,3,2,24,2.61,1.14
291,Gabe Speier,SEA,28,69,0,0,0,54.2,47,23,64,11,7,2,2,1,0,17,3.79,1.06
327,Marco Gonzales,SEA,32,10,10,0,0,50.0,55,29,34,18,5,4,1,0,0,0,5.22,1.46
332,Andres Munoz,SEA,25,52,0,0,0,49.0,40,16,67,22,2,4,7,13,3,14,2.94,1.27
340,Tayler Saucedo,SEA,30,52,0,0,0,47.2,41,19,43,23,2,3,2,1,1,3,3.59,1.34
367,Paul Sewald,SEA,33,45,0,0,0,43.0,30,14,60,14,5,3,1,21,3,0,2.93,1.02
382,Chris Flexen,SEA,29,17,4,0,0,42.0,59,36,29,19,11,0,4,0,0,0,7.71,1.86
494,Trevor Gott,SEA,31,30,0,0,0,29.0,33,13,32,8,2,0,3,0,2,7,4.03,1.41
496,Isaiah Campbell,SEA,26,27,0,0,0,28.2,22,9,33,13,2,4,1,1,0,2,2.83,1.22
514,Trent Thornton,SEA,30,23,1,0,0,26.0,23,6,21,5,5,1,2,0,1,2,2.08,1.08
623,Ty Adcock,SEA,27,12,0,0,0,15.2,11,6,11,0,4,0,0,0,0,0,3.45,0.70
638,Penn Murfee,SEA,29,16,0,0,0,14.0,5,2,16,10,1,1,2,0,1,1,1.29,1.07
639,Eduard Bazardo,SEA,28,9,0,0,0,13.2,9,4,14,4,2,0,0,0,0,0,2.63,0.95
648,Luke Weaver,SEA,30,5,1,0,0,13.1,16,9,8,3,2,0,1,0,0,0,6.08,1.43
667,Emerson Hancock,SEA,24,3,3,0,0,12.0,13,6,6,3,1,0,0,0,0,0,4.50,1.33
684,Juan Then,SEA,24,9,0,0,0,11.0,14,6,5,2,3,0,0,0,0,0,4.91,1.45
694,Dominic Leone,SEA,32,9,0,0,0,10.1,7,5,10,8,5,0,0,0,0,0,4.35,1.45
716,Matt Festa,SEA,31,8,0,0,0,9.0,4,4,13,12,1,0,0,0,0,1,4.00,1.78
717,Tommy Milone,SEA,37,2,2,0,0,9.0,7,2,3,6,1,0,1,0,0,0,2.00,1.44
729,Diego Castillo,SEA,30,8,0,0,0,8.2,7,6,7,7,2,0,0,0,0,1,6.23,1.62
753,Easton McGee,SEA,26,1,1,0,0,6.2,1,0,2,1,0,0,0,0,0,0,0.00,0.30
782,Darren McCaughan,SEA,27,3,0,0,0,5.0,7,3,10,3,1,0,0,0,0,0,5.40,2.00
825,Robbie Ray,SEA,32,1,1,0,0,3.1,4,3,3,5,0,0,1,0,0,0,8.10,2.70
841,Jose Rodriguez,SEA,28,1,0,0,0,3.0,3,3,1,1,0,0,0,0,0,0,9.00,1.33
861,Devin Sweet,SEA,27,2,0,0,0,2.0,2,2,1,1,1,0,0,0,0,0,9.00,1.50
874,Prelander Berroa,SEA,23,2,0,0,0,1.2,0,0,3,3,0,0,0,0,0,1,0.00,1.80
884,J.B. Bukauskas,SEA,27,1,0,0,0,1.0,2,1,1,2,0,0,0,0,1,0,9.00,4.00
888,Ryder Ryan,SEA,28,1,0,0,0,1.0,0,0,2,1,0,0,0,0,0,0,0.00,1.00

In [4]:
batters

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
0,Marcus Semien,TEX,2B,33,162,670,122,185,40,4,...,3,72,110,0,5,5,0.276,0.348,0.478,0.826
1,Julio Rodriguez,SEA,OF,23,155,654,102,180,37,2,...,10,47,175,0,2,11,0.275,0.333,0.485,0.818
2,Ronald Acuna,ATL,OF,26,159,643,149,217,35,4,...,14,80,84,0,3,9,0.337,0.416,0.596,1.012
3,Bobby Witt,KC,SS,23,158,641,97,177,28,11,...,15,40,121,1,8,4,0.276,0.319,0.495,0.814
4,Trea Turner,PHI,SS,30,155,639,102,170,35,5,...,0,45,150,0,1,6,0.266,0.320,0.459,0.779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,Alejo Lopez,CIN,2B,27,1,2,1,1,1,0,...,0,0,1,0,0,0,0.500,0.500,1.000,1.500
702,Chandler Seagle,SD,C,27,1,1,0,0,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
703,Diego Castillo,ARI,OF,26,1,1,0,0,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
704,Mason McCoy,TOR,SS,28,6,1,2,0,0,0,...,0,0,1,0,0,0,0.000,0.000,0.000,0.000
705,Mike Siani,CIN,OF,24,3,0,1,0,0,0,...,1,1,0,0,0,0,0.000,1.000,0.000,1.000